@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales base para la aplicación */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F3F4F6;
}